# IDE directories
.idea
.shelf
/*.iml
/*.ipr
/*.iws
*.classpath
*.project
*.settings
/bin
/subprojects/*/bin
atlassian-ide-plugin.xml
.metadata/

# Gradle build files
.gradle
/build

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Log file
*.log

# Compiled class file
*.class
